In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Merges Dyas's dataframe and mine to create a Mega Dataframe

In [7]:
nbaDyas = pd.read_csv('nba_h2o.csv')

In [8]:
nbaDyas.head()

,Unnamed: 0,Unnamed: 0.1,date,start_time,vis_team,home_team,vis_points,home_points,ot,attendance,...,recovery_time,perform,def_perf_home,off_perf_home,def_perf_vis,off_perf_vis,total_score,class,frac_season,day_hour
0,0,0,2019-10-22,20:00:00,New Orleans Pelicans,Toronto Raptors,122,130,1,20787,...,NaN,NaN,NaN,NaN,NaN,NaN,252,1,0.000000,20.0
1,1,1,2019-10-22,22:30:00,Los Angeles Lakers,Los Angeles Clippers,102,112,0,19068,...,NaN,NaN,NaN,NaN,NaN,NaN,214,0,0.000000,22.5
2,2,2,2019-10-23,19:00:00,Chicago Bulls,Charlotte Hornets,125,126,0,15424,...,NaN,NaN,NaN,NaN,NaN,NaN,251,1,0.005682,19.0
3,3,3,2019-10-23,19:00:00,Detroit Pistons,Indiana Pacers,119,110,0,17923,...,NaN,NaN,NaN,NaN,NaN,NaN,229,1,0.005682,19.0
4,4,4,2019-10-23,19:00:00,Cleveland Cavaliers,Orlando Magic,85,94,0,18846,...,NaN,NaN,NaN,NaN,NaN,NaN,179,0,0.005682,19.0

In [9]:
nbaDyas = nbaDyas.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
nbaDyas.head()

,date,start_time,vis_team,home_team,vis_points,home_points,ot,attendance,home_initial,vis_initial,...,recovery_time,perform,def_perf_home,off_perf_home,def_perf_vis,off_perf_vis,total_score,class,frac_season,day_hour
0,2019-10-22,20:00:00,New Orleans Pelicans,Toronto Raptors,122,130,1,20787,TOR,NOP,...,NaN,NaN,NaN,NaN,NaN,NaN,252,1,0.000000,20.0
1,2019-10-22,22:30:00,Los Angeles Lakers,Los Angeles Clippers,102,112,0,19068,LAC,LAL,...,NaN,NaN,NaN,NaN,NaN,NaN,214,0,0.000000,22.5
2,2019-10-23,19:00:00,Chicago Bulls,Charlotte Hornets,125,126,0,15424,CHO,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,251,1,0.005682,19.0
3,2019-10-23,19:00:00,Detroit Pistons,Indiana Pacers,119,110,0,17923,IND,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,229,1,0.005682,19.0
4,2019-10-23,19:00:00,Cleveland Cavaliers,Orlando Magic,85,94,0,18846,ORL,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,179,0,0.005682,19.0

In [10]:
nba = pd.read_csv('nba_split_temp_miles.csv')
nba.head()

,date,start_time,vis_team,home_team,vis_points,home_points,ot,attendance,home_initial,vis_initial,...,hp1,hp2,hp3,hp4,hp5,vis_city,home_city,home_state,home_temp,travel_miles
0,2019-10-22,20:00:00,New Orleans Pelicans,Toronto Raptors,122,130,1,20787,TOR,NOP,...,Kyle Lowry,Fred VanVleet,Pascal Siakam,OG Anunoby,Marc Gasol,New Orleans,Toronto,ON,57.10,1113.2
1,2019-10-22,22:30:00,Los Angeles Lakers,Los Angeles Clippers,102,112,0,19068,LAC,LAL,...,Kawhi Leonard,Patrick Beverley,Landry Shamet,Patrick Patterson,Ivica Zubac,Los Angeles,Los Angeles,CA,76.54,0.0
2,2019-10-23,19:00:00,Chicago Bulls,Charlotte Hornets,125,126,0,15424,CHO,CHI,...,P.J. Washington,Cody Zeller,Dwayne Bacon,Miles Bridges,Terry Rozier,Chicago,Charlotte,NC,57.13,587.1
3,2019-10-23,19:00:00,Detroit Pistons,Indiana Pacers,119,110,0,17923,IND,DET,...,Myles Turner,Malcolm Brogdon,Domantas Sabonis,T.J. Warren,Jeremy Lamb,Detroit,Indianapolis,IA,42.54,488.3
4,2019-10-23,19:00:00,Cleveland Cavaliers,Orlando Magic,85,94,0,18846,ORL,CLE,...,Nikola Vučević,Aaron Gordon,Evan Fournier,D.J. Augustin,Jonathan Isaac,Cleveland,Orlando,FL,76.45,893.8

In [17]:
nbamerge = pd.merge(nbaDyas,nba)

In [18]:
nbamerge.to_csv('nbafull.csv',index=False)